/* html {
  height: 100%;
} */

body {
  /* overflow: scroll; */
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    180deg,
    hsl(195, 73%, 40%),
    hsl(195, 73%, 40%),
    /* hsl(240, 40%, 40%), */ hsl(240, 10%, 65%)
  );
  /* user-select: none; */
  /* filter: blur(1000px); */
}

p {
  margin: 0px;
  font-family: "Bebas Neue";
  font-weight: bold;
  color: white;
}

a {
  margin: 0px;
  font-family: "Bebas Neue";
  font-weight: bold;
}

header {
  background-image: linear-gradient(
    180deg,
    hsl(195, 90%, 50%),
    rgba(0, 0, 0, 0)
  );
  z-index: 999;
  position: sticky;
  top: 0;
  user-select: none;
  /* background-color: black; */
  color: white;
}

header > .title {
  /* filter: invert(1); */
  position: relative;
  display: block;
  text-align: center;
  font-size: 70px;
  transition: letter-spacing 1s;
}
header > .title:hover {
  letter-spacing: 10px;
}
header > a > .icon {
  /* filter: invert(1); */
  position: absolute;
  margin-top: 10px;
  top: 0;
  width: 70px;
}

header > a > .icon.github {
  left: 10px;
}
header > a > .icon.youtube {
  left: 90px;
}

header > a > .icon:active {
  top: 5px;
}

.sub-title {
  /* display: block; */
  user-select: none;
  font-size: 50px;
  margin-left: 10px;
  letter-spacing: 10px;
}

.sub-title.beatsaber {
  cursor: default;
}

.sub-title.discord {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.scaleArrow {
  font-size: 25px;
  position: relative;
  bottom: 10px;
}

table {
  color:white;
  display: none;
  text-align: left;
  /* border-style: solid; */
  /* border-color: black; */
  margin-right: auto;
  margin-left: auto;
  font-family: "Bebas Neue";
  font-weight: bold;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 1px;
  border-radius: 5px;
}

tr:nth-child(odd) {
  background-color: rgba(192, 192, 192, 0.5);
}

tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.5);
}

.coverImage {
  border-radius: 15px;
  width: 50px;
  position: relative;
  top: 5px;
}

.map-table-title {
  position: relative;
  bottom: 10px;
  left: 10px;
}

.maps {
  letter-spacing: 3px;
  font-size: 25px;
}

.footer {
  bottom: 0;
  right: 0;
  font-size: 10px;
  color: white;
  position: fixed;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.bot-container {
  margin-left: 20px;
  overflow: auto;
  display: inline-block;
  border-radius: 10px;
  /* border-style: solid; */
  /* border-color: rgba(0, 0, 0, 0.25); */
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
}
.bot-title {
  white-space: nowrap;
  font-size: 35px;
  letter-spacing: 10px;
  text-align: center;
}

.bot-description {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}