body {
  overflow: scroll;
  margin: 0;
  background-color: lightgray;
  /* user-select: none; */
  filter: blur(1000px);
}

p {
  margin: 0px;
  font-family: "Bebas Neue";
}

a {
  margin: 0px;
  font-family: "Bebas Neue";
}

header {
  z-index: 999;
  position: sticky;
  top: 0;
  user-select: none;
  background-color: black;
  color: white;
}

header > .title {
  text-align: center;
  margin: 0px;
  letter-spacing: 0px;
  font-size: 70px;
  transition: letter-spacing 1s;
}
header > .title:hover {
  letter-spacing: 10px;
}
header > a > .icon {
  position: absolute;
  top: 10px;
}

header > a > .icon.github {
  width: 70px;
  left: 10px;
}
header > a > .icon.youtube {
  width: 70px;
  left: 90px;
}

header > a > .icon:active {
  top: 15px;
}

table {
  display: none;
  /* display: inline-table; */
  text-align: left;
  /* border-style: solid; */
  /* border-color: black; */
  margin-right: auto;
  margin-left: auto;
  font-family: "Bebas Neue";
  border-collapse: collapse;
  width: 100%;
}

.map-table-title {
  position: relative;
  bottom: 35px;
}

.coverImage {
  width: 100px;
  position: relative;
  top: 5px;
}

.map-title {
  cursor: pointer;
  user-select: none;
  margin-bottom: 0px;
  font-size: 100px;
  margin-left: 20px;
  letter-spacing: 10px;
}

.discord-title {
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 100px;
  margin-left: 20px;
}

td,
th {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

tr:nth-child(odd) {
  background-color: #c0c0c0;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.maps {
  font-size: 30px;
}

.link {
  text-decoration: none;
  color: black;
}

.scaleArrow {
  font-size: 50px;
  position: relative;
  bottom: 20px;
}
