body {
  margin: 0;
}

p {
  font-family: "Bebas Neue";
}

header {
  user-select: none;
  background-color: black;
  color: white;
}

header > .title {
  text-align: center;
  margin: 0px;
  letter-spacing: 0px;
  font-size: 70px;
  transition: letter-spacing 1s;
}
header > .title:hover {
  letter-spacing: 10px;
}
header > a > .icon {
  position: absolute;
  top: 10px;
}

header > a > .icon.github {
  width: 70px;
  left: 10px;
}
header > a > .icon.youtube {
  width: 70px;
  left: 90px;
}

header > a > .icon:active {
  top: 15px;
}

.maps > .title {
  letter-spacing: 10px;
  /* position: absolute; */
  left: 25px;
  font-size: 100px;
  margin: 0px;
  margin-left: 20px;
}

.bold {
  font-weight: bolder;
}

.map-list {
  letter-spacing: 0px;
  margin: 0px;
  margin-left: 40px;
  font-size: 30px;
  top: 130px;
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
  color: black;
  transition: margin-left 0.1s;
}

.map-list:hover {
  margin-left: 45px;
  text-decoration: none;
}